body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

a {
  color: white;
}

.container {
  height: 500px;
}

.sticky {
  position: fixed;
  top: 0;
}
/* header */

.header {
  background-color: #202020;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  /*position: fixed;*/
  width: 100%;
  z-index: 3;
  height: 65px;
  padding-top: 1%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #202020;
}

.header li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #e2504f;
}

.header .logo {
  display: block;
  float: left;
  font-size: 25px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 15%;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin-right: 9%;
  margin-top: 8px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 10px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-top: 8px;
  }
  .header .menu-icon {
    display: none;
  }
}
@media (max-width: 500px) {
  .header {
    height: 58px;
  }
  .header .logo {
    margin-left: 0;
    margin-top: 5px;
  }
  .header .menu {
    margin-right: 0;
  }
}
